* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.bg {
    background-color: #111111!important;
}

.navItems {
    height: 45px;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s;
}

.navItems:hover {
    border-bottom: 4px solid #e7b35a;
    color: red;
}

.bannerBg {
    background-image: url(./Banner\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 243px;
    padding-bottom: 263px;
    width: 100%;
    position: relative;
    height: auto;
}