* {
    padding: 0;
    margin: 0;
}


/*Navbar*/

.navFomat {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #111111!important;
}

.navItems {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s;
}

.navItems:hover {
    text-decoration: none;
    color: #e7b35a;
    border-bottom: 4px solid #e7b35a;
}

.slection {
    transition: all 0.3s;
}

.slection:hover {
    background-color: #111111b9!important;
    border-radius: 8px;
}

.navItems2 {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s;
}

.navItems2:hover {
    text-decoration: none;
    color: #e7b35a;
}

.buttom-iteam {
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #fdfdfd;
    background-color: #e7b35a;
    transition: all 0.5s;
}

.buttom-iteam:hover {
    text-decoration: none;
    color: #fdfdfd;
    border-radius: 5px;
    background-color: rgb(4, 4, 182);
}

@media screen and (min-width: 800px) {
    .navbar2 {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .navbar1 {
        display: none;
    }
}


/*Location*/

.bg1 {
    background-image: url(../img/banner/Banner_2.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 130px;
}

.bannerLocation {
    background-color: #ffffff;
    transition: all, 0.3s;
}

.bannerLocation:hover {
    box-shadow: 5px 5px 5px hsla(0, 67%, 50%, 0.959);
    border-radius: 8px;
    cursor: pointer;
}


/*Home*/

.bannerBg {
    background-image: url(../img/banner/Banner_1.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 250px;
    padding-bottom: 380px;
}

.bg {
    background-color: #111111!important;
}

.bg2 {
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    padding-top: 250px;
    padding-bottom: 250px;
}

.content_aboutUs {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/*CSS Section Menu*/

.bgMenu {
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.foodIteam {
    height: auto;
    width: 95%;
    border-bottom: 2px dashed #04b63fd2;
    background-color: none;
    transition: all, 0.3s;
}

.foodIteam:hover {
    background-color: #ddddd5d2;
    border-radius: 8px;
    cursor: pointer;
}

.nameFood {
    line-height: 26px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.priceFood {
    line-height: 26px;
    font-size: 14px;
    color: #04b63fd2;
    margin: 0;
    font-weight: bold;
}


/* CSS Section Offer*/

.bgOffer {
    height: 100%;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 200px;
    background-color: #ffffff;
}

.boxOffer {
    height: 95%;
    width: 95%;
    transition: all, 0.3s;
}

.boxOffer:hover {
    background-color: #cfd8d2d2;
    border-radius: 5px;
    cursor: pointer;
}

.iteamOffer {
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.iteamOfferPrice {
    font-weight: bold;
    font-size: 18px;
    color: #e7b35a;
}

.border {
    height: 2px;
    width: 100%;
    border-style: dashed;
    border-bottom-color: rgb(201, 76, 76);
}


/* Css Section press*/

.bgPress {
    background-image: url(../img/banner/Banner_3.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 100px;
}

.boxPress {
    height: auto;
    width: 95%;
    padding: 2%;
    height: 400px;
    background-color: #ffffffbd;
    transition: all 0.3s;
}

.boxPress:hover {
    box-shadow: 5px 5px 5px rgba(240, 23, 23, 0.767);
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
}

.textBoxpress {
    color: #242121;
    font-size: 15px;
}

.textBoxpress2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/*Section News*/

.bgNews {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ffffff;
}

.bgBoxNews {
    width: 95%;
    transition: all, 0.2s;
    background-color: #f5f5f5;
    /* margin-bottom: 20px; */
}

.bgBoxNews:hover {
    box-shadow: 3px 3px 3px #d14b4b;
    border-radius: 8px;
    cursor: pointer;
}

.readMore {
    font-weight: bold;
    color: black;
    transition: all, 0.2s;
    margin-bottom: 5px;
}

.readMore:hover {
    text-decoration: none;
    color: rgb(241, 4, 4);
}